.slick-list {
  width: 525px;
  height: 525px;
}

.slick-dots,
.slick-thumb {
  width: 150px;
  height: 150px;
}

.slick-arrow,
.slick-prev,
.slick-next {
  background-color: royalblue;
}

.slick-prev,
.slick-next {
  width: 15px;
  height: 29px;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
}

.slide {
  &__img-wrapper {
    width: 525px;
    height: 525px;
  }

  &__img-small {
    width: 150px;
    height: 150px;
  }
}
