.main-slider {
  width: 100%;

  .dots-custom,
  .slick-dots li {
    margin: 0 3.43em;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &__thumb {
    width: 120px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 -6.25em;
  }
}

.slick-prev {
  &.arrow-prev {
    margin-left: 15px;
    background: #fff;
    width: 35px;
    height: 64px;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }

  &.arrow-prev::before {
    content: '';
  }

  &.arrow-prev:hover {
    background: #fff;
  }
}

.slick-next {
  &.arrow-next {
    margin-right: 15px;
    background: #fff;
    width: 35px;
    height: 64px;
    justify-content: center;
    align-items: center;
  }

  &.arrow-next::before {
    content: '';
  }

  &.arrow-next:hover {
    background: #fff;
  }
}

// MEDIA QUERY SECTION
@media (min-width: 450px) and (max-width: 630px) {
  .main-slider {
    width: 100%;
    .dots-custom,
    .slick-dots li {
      margin: 0 35px;
    }

    &__thumb {
      width: 90px;
      height: auto;
      border-radius: 5px;
      display: block;
      margin: 0 -69px;
    }
  }
}

@media (min-width: 631px) and (max-width: 992px) {
  .main-slider {
    width: 100%;

    .dots-custom,
    .slick-dots li {
      margin: 0 35px;
    }

    &__image {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    &__thumb {
      width: 86px;
      height: auto;
      border-radius: 5px;
      display: block;
      margin: 0 -69px;
    }
  }
}

@media (min-width: 993px) and (max-width: 1187px) {
  .main-slider {
    width: 100%;

    .dots-custom,
    .slick-dots li {
      margin: 0 35px;
    }

    &__image {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    &__thumb {
      width: 86px;
      height: auto;
      border-radius: 5px;
      display: block;
      margin: 0 -69px;
    }
  }
}

@media (min-width: 1188px) {
  .main-slider {
    width: 100%;

    .dots-custom,
    .slick-dots li {
      margin: 0 36px;
    }

    &__image {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    &__thumb {
      width: 90px;
      height: auto;
      border-radius: 5px;
      display: block;
      margin: 0 -69px;
    }
  }
}
