@font-face {
  font-family: 'Abel';
  src: url(../../fonts/Abel/Abel-Regular.ttf);
}

.btn {
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-family: Abel;
  border-radius: 4px;
  cursor: pointer;
  &-dark {
    background-color: #373f41;
    color: #fff;
  }
  &-light {
    background-color: #fff;
    color: #373f41;
  }
  &-bordered {
    border: 1px solid #373f41;
  }
  &-light-bordered {
    background-color: #fff;
    border: 1px solid #373f41;
    color: #373f41;
  }
}
