@font-face {
  font-family: "Abel";
  src: url(../../fonts/Abel/Abel-Regular.ttf);
}

.common-btn-styles{
  outline: none;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-family: Abel;
  border-radius: 4px;
}