.slick-slide {
  width: 380px;
  height: 380px;
  padding: 20px;
}

.slider {
  &__img-wrapper {
    width: 380px;
    height: 380px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__info {
    position: relative;
  }
  &__name {
    position: absolute;
    top: 100px;
  }
}

.slick-arrow,
.slick-prev,
.slick-next {
  background-color: royalblue;
}

.slick-prev,
.slick-next {
  width: 15px;
  height: 29px;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1;
}
