.continue__btn {
  padding: 15px 45px;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 150px;
  cursor: pointer;
}
.thanks__title {
  font-family: 'Abel', sans-serif;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
  padding: 150px 0 50px;
}
.thanks__container {
  width: 81.75%;
  margin: 0 auto;
  max-width: 1180px;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}
