.bagpopup {
  &-wrap {
    z-index: 10000;
    background: rgba(55, 63, 65, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &-content {
    position: fixed;
    top: 75px;
    bottom: 50px;
    right: 190px;
    width: 350px;
    background: white;
    padding: 15px 10px 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    
    &__title {
      color: #373f41;
      font-weight: 300;
      font-size: 16px;
      display: inline-block;
    }

    &__close {
      display: inline-flex;
      margin-right: 10px;
      align-items: center;
      background-color: transparent;
      border: none;

      img {
        cursor: pointer;
      }
    }
  }

  &-price {
      margin-top: 15px;
      font-size: 18px;
      letter-spacing: .04em;
      color: #373F41;
  }

  &-buttons {
      margin-top: 35px;
      display: flex;
      flex-direction: column;

    &.centered {
      margin-top: 0;
      height: 90%;
      place-content: center;

      & .bagpopup-buttons__item {
        margin: 0;
        transform: translateY(-10px);
      }
    }

      & a {
        width: 100%;
      }

      &__item {
        font-size: 18px;
        cursor: pointer;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 10px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
      }
  }
}


@media (max-width: 425px) {
  .bagpopup {
    &-content {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: inherit;
    }
  }
}