.nav {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  font-weight: 600;
  border-bottom: 1px solid #373f41;
  font-size: 16px;
}
.icon {
  cursor: pointer;
}
.navbar {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--bars {
    display: none;
  }
  &--arrow {
    margin-left: 8px;
  }
  &--logo {
    cursor: pointer;
  }
  &--search {
    content: 'Search';
    outline: none;
    border-color: transparent;
    border-bottom-color: #373f41;
    width: 36vh;
    border-width: 1px;
    background: url('/images/svg/search.svg') no-repeat 100%;
    height: 30px;
  }
  &--search::-webkit-search-decoration,
  ::-webkit-search-cancel-button,
  ::-webkit-search-results-button,
  ::-webkit-search-results-decoration {
    display: none;
  }

  &--menu {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
    margin-right: 2rem;
  }

  &--item {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
    margin-right: 2vh;
    margin-left: 2vh;
    &--account {
      position: relative;
    }
  }

  &--links {
    color: #373f41;
    text-decoration: none;
    margin: 0 0;
    cursor: pointer;
  }
  .dropdown {
    &--catalog {
      padding: 32px 30px;
      display: grid;
      position: absolute;
      left: -200%;
      top: 80px;
      border-top: 4px solid #373f41;
      transition: 0.5s ease;

      &__item {
        padding: 5%;
      }
    }

    &--nav {
      margin-left: 40px;
      cursor: pointer;
      display: flex;
      align-items: baseline;
    }
    &--nav.active {
      border-bottom: 1px solid #373f41;
      transition: 0.5s ease-in-out;
      padding-bottom: 5px;
    }

    &--nav {
      margin-left: 40px;
      cursor: pointer;
      display: flex;
      align-items: baseline;
    }
    &--nav.active {
      border-bottom: 1px solid #373f41;
      transition: 0.5s ease-in-out;
      padding-bottom: 5px;
    }

    &--catalog.active {
      background: white;
      left: 33%;
      opacity: 1;
      transition: 0.5s ease;
      z-index: 1;
      margin-left: -100px;
    }
  }
}
@media (min-width: 993px) and (max-width: 1078px) {
  .navbar {
    &--search {
      width: 18vh;
    }
    &--item {
      margin-right: 1vh;
      margin-left: 1vh;
    }
  }
  .dropdown {
    &--catalog.active {
      left: 28% !important;
    }
  }
}
@media (min-width: 631px) and (max-width: 992px) {
  .nav {
    font-size: 14px;
  }
  .dropdown {
    &--catalog.active {
      width: 15%;
    }
  }
  .icon {
    margin-left: 10px;
    cursor: pointer;
  }
  .navbar {
    &--search {
      font-size: 10px;
      background-size: 15px;
      width: 17vh;
    }
    &--logo {
      width: 100px;
      margin-right: 0;
      margin-left: 0;
    }

    &--item {
      margin-right: 0;
    }
  }
}

@media (min-width: 280px) and (max-width: 630px) {
  .navbar {
    &--search {
      width: 38vh;
    }
    &--bars {
      display: block;
      cursor: pointer;
      width: 20px;
    }
    &--menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -200%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    &--menu.active {
      border-top: 4px solid #373f41;
      background: white;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }

    &--links {
      padding: 1vh;
    }
  }
  .dropdown {
    &--catalog {
      width: 100%;
      left: 0;
      &__item {
        padding: 2% 2%;
      }
    }
    &--nav {
      margin-right: 3vh;
      margin-left: 0 !important;
    }
    &--menu {
      display: grid;
      position: absolute;
      left: -200%;
      top: 10%;
      transition: 1s;
    }
    &--catalog.active {
      left: 0 !important;
      margin-left: 0 !important;
      width: 100%;
    }
  }
}
@media (min-width: 200px) and (max-width: 280px) {
  .nav {
    width: 290px;
  }
}
