.container {
  width: 1180px;
  margin: 0 auto;
}

.registration {
  display: flex;
}

.registration-right__block {
  width: 812px;
  margin-right: 84px;
}

.registration-left__block {
  width: 284px;
}

.registration__title {
  padding: 80px 0 20px;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #373f41;
  border-bottom: 1px solid #373f41;
}

.registration-coupone {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #373f41;
  padding: 10px 0;
  border-bottom: 1px solid #373f41;
}

.registration-price {
  display: flex;
  justify-content: space-between;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  color: #373f41;
  padding: 13px 0;
}

.registration-price:nth-last-of-type(2) {
  border-bottom: 1px solid #373f41;
}

.total-price {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #373f41;
  padding: 20px 0 50px;
  display: flex;
  justify-content: space-between;
}

.buy__button {
  border: none;
  font-family: 'Abel',sans-serif;
  font-size: 18px;
  text-align: right;
  margin: 0 0 80px 30%;
  padding: 15px 86px;
}
