.container {
  width: 75em;
  margin: 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.terms {
  display: grid;
  grid-template-columns: 25% 75%;
  &-aside__header {
    font-size: 1.125rem;
    color: #373f41;
    margin-bottom: 30px;
    padding-top: 15px;
  }
  &-main {
    padding-bottom: 70px;
  }
}

.section {
  &__header {
    margin: 0;
    color: #8c8c8c;
    padding: 15px 0;
    border-bottom: 1px solid #8c8c8c;
    text-transform: uppercase;
    &--simple {
      border-bottom: 1px solid #dadada;
    }
  }
  &__text {
    padding: 15px 0;
    font-size: 14px;
    line-height: 25px;
  }
}

.aside-list {
  margin: 0;
  padding: 0;
  &__item {
    margin-bottom: 25px;
  }
}

.disclosure {
  border-bottom: 1px solid #dadada;
  &__content {
    font-size: 14px;
    line-height: 25px;
    color: #000;
    padding: 0 0 15px 15px;
    text-indent: 15px;
    & p {
      text-indent: 15px;
    }
  }
  &__btn {
    outline: none;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.3s;
    position: relative;
    background: none;
    cursor: pointer;
    &::before {
      content: '+';
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &[aria-expanded='true']::before {
      content: '_';
      font-size: 1.5rem;
      position: absolute;
      bottom: 8px;
    }
  }
  &-header {
    display: flex;
    align-items: center;
    &__header {
      color: #373f41;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
