.slider-container {
  width: 1180px;
  margin: 0 auto;
}
.slide-div {
  position: relative;
}
.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 630px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: ease 2s;
  display: flex;
  align-items: center;
  flex-flow: column;
  position: relative;
}

.slide-content {
  position: absolute;
  top: 383px;
  left: 50px;
}

.slide-title {
  position: absolute;
  top: 383px;
  left: 50px;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  margin: 0;
  font-family: "Abel", sans-serif;
}

.slide-title span:nth-child(1) {
  padding: 12px 12px 12px 12px;
  border-radius: 2px;
  background-color: #373f41;
}

.slide-title span:nth-child(3) {
  padding: 0 12px 12px 12px;
  border-radius: 2px;
  background-color: #373f41;
}

.slide-parag {
  position: absolute;
  top: 442px;
  left: 50px;
  width: 416px;
  font-family: Abel;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.slide-parag span:nth-child(1) {
  background-color: #373f41;
  border-radius: 2px;
  padding: 7px 12px 7px 12px;
}
.slide-parag span:nth-child(3) {
  background-color: #373f41;
  box-shadow: 0px 0 0 #373f41, 0px 0 0 #373f41;
  border-radius: 2px;
  padding: 0 12px 7px 12px;
}

.slide-button {
  position: absolute;
  top: 522px;
  left: 50px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  padding: 14px 33px;
  border: none;
  font-family: Abel;
  line-height: 32px;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navigation-manual {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 29px 0 0;
  user-select: none;
}

.manual-btn {
  width: 196px;
  height: 1px;
  background-color: #373f41;
  cursor: pointer;
  transition: 0.5s;
}
.manual-btn input {
  display: none;
}
.manual-btn.active {
  width: 196px;
  height: 5px;
  background-color: #373f41;
  cursor: pointer;
  transition: 0.3s;
}
.nav-btns {
  width: 1230px;
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: calc(312px - 42.5px);
  left: -25px;
  align-items: center;
  z-index: 9999;
}
.nav-btn {
  width: 50px;
  height: 85px;
  background-color: #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.nav-btn input {
  display: none;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}

@media (max-width: 1229px) {
  .nav-btns {
    width: 1074px;
  }
  .slider-container {
    width: 1024px;
  }
  .slider {
    width: 1024px;
    margin: 0 auto;
  }
  .slide img {
    object-fit: cover;
  }
}
@media (max-width: 1073px) {
  .nav-btns {
    width: 818px;
  }
  .slider-container {
    width: 768px;
  }
  .slider {
    width: 768px;
    margin: 0 auto;
  }
  .slide img {
    object-fit: cover;
  }
}
@media (max-width: 817px) {
  .slider-container {
    width: 100%;
  }
  .slider {
    width: 100%;
    margin: 0 auto;
  }
  .nav-btns {
    display: none;
  }
  .navigation-manual {
    display: none;
  }
}
@media (max-width: 484px) {
  .slide-title {
    top: 252px;
    font-size: 16px;
    left: 5px;
  }
  .slide-parag {
    font-size: 10px;
    left: 5px;
    top: 288px;
  }
  .slide-button {
    top: 345px;
    left: 5px;
    padding: 4.6px 11px;
  }
  .slide img {
    height: 400px;
    margin: 0 auto;
  }
  .slide-div{
      height: 400px;
  }
}
