.popular-container {
  // width: 1180px;
  width: 90.97%;
  max-width: 1180px;
  margin: 0 auto;
}
.popular-list {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 342px 342px;
  grid-template-areas:
    'popular-img1 popular-img1 popular-img1 popular-img2'
    'popular-img3 popular-img4 popular-img4 popular-img4';
  padding: 0;
}
.popular-list__item1 {
  grid-area: popular-img1;
}
.popular-list__item2 {
  grid-area: popular-img2;
}
.popular-list__item3 {
  grid-area: popular-img3;
}
.popular-list__item4 {
  grid-area: popular-img4;
}
.popular-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popular-list-item {
  position: relative;
}
.popular-list-item__text-block {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 105px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: flex-end;
  flex-flow: column;
}
.text-block__title {
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 10px;
  color: #373f41;
  margin: 15px 35px 10px;
}

.text-block__button {
  border: 1px solid #373f41;
  padding: 0;
  width: 117px;
  height: 39px;
  font-family: 'Abel', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  color: #373f41;
  margin: 0 45px 0;
  cursor: pointer;
}
@media (max-width: 1181px) {
  .popular-container {
    // width: 768px;
    width: 90.97%;
    max-width: 768px;
    margin: 0 auto;
  }
  .popular-list {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 342px 342px;
    grid-template-areas:
      'popular-img1 popular-img1 popular-img2'
      'popular-img3 popular-img4 popular-img4';
    padding: 10px;
  }
  .text-block__title {
    font-family: 'Abel', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 10px;
    color: #373f41;
    margin: 15px 35px 10px;
  }
  .popular-list-item img {
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .popular-container {
    // width: 320px;
    margin: 0 auto;
    width: 90.97%;
    max-width: 320px;
  }
  .popular-list {
    grid-template-rows: 342px 342px;
    grid-template-areas:
      'popular-img1'
      "popular-img2";
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .popular-list-item:nth-child(3){
    display: none;
  }
  .popular-list-item:nth-child(4){
    display: none;
  }
}

